# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

run-data


*.log.gz

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/run-data/

# Build artifacts / extracted jars
fabric/libs/
forge/libs/
META-INF/
!**/src/**/META-INF/mods.toml

# Leaked class files
/net/
/rbasamoyai/

# Misc
.architectury-transformer/
